.yt-watch-holodex-btn {
  background-color: var(--yt-spec-additive-background) !important;
  vertical-align: middle;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.yt-watch-holodex-btn:hover {
  background-color: var(--yt-spec-mono-tonal-hover) !important;
}

.yt-watch-holodex-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.yt-watch-holodex-icon path:nth-child(1) {
  fill: var(--yt-button-icon-button-text-color, var(--yt-spec-text-secondary));
}
.yt-watch-holodex-icon path:nth-child(2) {
  stroke: var(--yt-button-icon-button-text-color, var(--yt-spec-text-secondary));
}

.yt-watch-holodex-btn:hover .yt-watch-holodex-icon > path:nth-child(1) {
  fill: #f06292;
}

.yt-watch-holodex-btn:hover .yt-watch-holodex-icon > path:nth-child(2) {
  stroke: #5da2f2;
}

@media screen and (max-width: 1200px) {
  .yt-watch-holodex-label {
    display: none;
  }

  .yt-watch-holodex-icon {
    margin-right: 0px;
  }
}
