* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.0125rem;
}

:root {
  --brand-color-primary: #363636;
  --brand-color-primary-light: #666666;
  --brand-color-primary-dark: #1e1e1e;
  --brand-color-secondary: #603342;
  --brand-color-secondary-light: #f06292;
  --text-color: #fff;
}

body {
  margin: 0;
  background: var(--brand-color-primary);
}

button {
  background: none;
  border: none;
}
button:hover,
button:focus,
button:active {
  background: var(--brand-color-primary-light);
}

button.link {
  padding: 8px 16px;
}

div.options {
  background-color: var(--brand-color-primary-dark);
  border: 1px solid var(--brand-color-primary-dark);
  border-radius: 8px;

  padding: 12px;

  line-height: 1.5;
  font-size: 16px;

  width: 33%;
}

div.options > h3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0;
}

div.options > form > div {
  display: flex;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
}
.switch-input {
  display: none;
}
.switch-label {
  display: block;
  width: 44px;
  height: 24px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  user-select: none;
}
.switch-label::before,
.switch-label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.switch-label::before {
  width: 100%;
  height: 100%;
  background-color: var(--brand-color-primary);
  border-radius: 9999em;
  transition: background-color 0.25s ease;
}
.switch-label::after {
  top: 3px;
  left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--text-color);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::before {
  background-color: var(--brand-color-secondary);
}
.switch-input:checked + .switch-label::after {
  left: 22px;
  background-color: var(--brand-color-secondary-light);
}
